In [1]:
import pymysql

# DB 연결
def db_connect():
    conn = pymysql.connect(
        host='localhost',
        user='testuser',
        password='',
        db='db_test',
        charset='utf8mb4',
        # 사용시 데이터 딕셔너리로 데이터가 반환됨.
        cursorclass=pymysql.cursors.DictCursor
    )
    return conn

In [2]:
# 유저 목록을 가져오는 프로그램을 작성해봅시다.
SQL1 = '''SELECT 
            ID, 
            LOGIN_ID,
            LOGIN_PASSWORD,
            NAME,
            ADDRESS,
            PHONE,
            ERROR_COUNT
        FROM TB_USER
'''

with db_connect() as conn:
    with conn.cursor() as cursor:
        cursor.execute(SQL1)
        results = cursor.fetchall()
        print(results)

[{'ID': 1, 'LOGIN_ID': '곽태경', 'LOGIN_PASSWORD': '수원시', 'NAME': None, 'ADDRESS': None, 'PHONE': '01011112222', 'ERROR_COUNT': 1011111111}, {'ID': 2, 'LOGIN_ID': 'user1', 'LOGIN_PASSWORD': 'user1', 'NAME': 'aaa', 'ADDRESS': '서울시', 'PHONE': '010-333-3333', 'ERROR_COUNT': 0}, {'ID': 3, 'LOGIN_ID': 'user2', 'LOGIN_PASSWORD': 'user2', 'NAME': 'bbb', 'ADDRESS': None, 'PHONE': '010-1111-111', 'ERROR_COUNT': 0}, {'ID': 4, 'LOGIN_ID': 'user3', 'LOGIN_PASSWORD': 'user3', 'NAME': 'ccc', 'ADDRESS': '경기도 안양시', 'PHONE': '010-222-2222', 'ERROR_COUNT': 0}, {'ID': 5, 'LOGIN_ID': 'user1', 'LOGIN_PASSWORD': 'user1', 'NAME': 'aaa', 'ADDRESS': '서울시', 'PHONE': '010-333-3333', 'ERROR_COUNT': 0}, {'ID': 6, 'LOGIN_ID': 'user2', 'LOGIN_PASSWORD': 'user2', 'NAME': 'bbb', 'ADDRESS': None, 'PHONE': '010-1111-111', 'ERROR_COUNT': 0}, {'ID': 7, 'LOGIN_ID': 'user3', 'LOGIN_PASSWORD': 'user3', 'NAME': 'ccc', 'ADDRESS': '경기도 안양시', 'PHONE': '010-222-2222', 'ERROR_COUNT': 0}, {'ID': 8, 'LOGIN_ID': 'user1', 'LOGIN_PASSWORD': 'user1', 'NAME': 'aaa', 'ADDRESS': '서울시', 'PHONE': '010-333-3333', 'ERROR_COUNT': 0}, {'ID': 9, 'LOGIN_ID': 'user2', 'LOGIN_PASSWORD': 'user2', 'NAME': 'bbb', 'ADDRESS': None, 'PHONE': '010-1111-111', 'ERROR_COUNT': 0}, {'ID': 10, 'LOGIN_ID': 'user3', 'LOGIN_PASSWORD': 'user3', 'NAME': 'ccc', 'ADDRESS': '경기도 안양시', 'PHONE': '010-222-2222', 'ERROR_COUNT': 0}, {'ID': 11, 'LOGIN_ID': 'user1', 'LOGIN_PASSWORD': 'user1', 'NAME': 'aaa', 'ADDRESS': '서울시', 'PHONE': '010-333-3333', 'ERROR_COUNT': 0}, {'ID': 12, 'LOGIN_ID': 'user2', 'LOGIN_PASSWORD': 'user2', 'NAME': 'bbb', 'ADDRESS': None, 'PHONE': '010-1111-111', 'ERROR_COUNT': 0}, {'ID': 13, 'LOGIN_ID': 'user3', 'LOGIN_PASSWORD': 'user3', 'NAME': 'ccc', 'ADDRESS': '경기도 안양시', 'PHONE': '010-222-2222', 'ERROR_COUNT': 0}, {'ID': 14, 'LOGIN_ID': 'user1', 'LOGIN_PASSWORD': 'user1', 'NAME': 'aaa', 'ADDRESS': '서울시', 'PHONE': '010-333-3333', 'ERROR_COUNT': 0}, {'ID': 15, 'LOGIN_ID': 'user2', 'LOGIN_PASSWORD': 'user2', 'NAME': 'bbb', 'ADDRESS': None, 'PHONE': '010-1111-111', 'ERROR_COUNT': 0}, {'ID': 16, 'LOGIN_ID': 'user3', 'LOGIN_PASSWORD': 'user3', 'NAME': 'ccc', 'ADDRESS': '경기도 안양시', 'PHONE': '010-222-2222', 'ERROR_COUNT': 0}, {'ID': 17, 'LOGIN_ID': 'user4', 'LOGIN_PASSWORD': 'user4', 'NAME': 'ddd', 'ADDRESS': None, 'PHONE': None, 'ERROR_COUNT': 0}, {'ID': 18, 'LOGIN_ID': 'user5', 'LOGIN_PASSWORD': 'user5', 'NAME': 'eee', 'ADDRESS': None, 'PHONE': None, 'ERROR_COUNT': 0}, {'ID': 19, 'LOGIN_ID': 'user6', 'LOGIN_PASSWORD': 'user6', 'NAME': 'Fff', 'ADDRESS': None, 'PHONE': None, 'ERROR_COUNT': 0}]

In [3]:
# 게시판 데이터를 출력해봅시다.
SQL2 = '''SELECT 
            *
        FROM TB_BOARD
'''

with db_connect() as conn:
    with conn.cursor() as cursor:
        cursor.execute(SQL2)
        results = cursor.fetchall()
        print(results)

[{'id': 1, 'title': 'a', 'content': 'aa', 'user_id': 1, 'create_date': datetime.datetime(2024, 8, 7, 11, 14, 21), 'update_date': datetime.datetime(2024, 8, 7, 11, 14, 21)}, {'id': 2, 'title': 'b', 'content': 'b', 'user_id': 2, 'create_date': datetime.datetime(2024, 8, 7, 11, 14, 47), 'update_date': datetime.datetime(2024, 8, 7, 11, 14, 47)}, {'id': 3, 'title': 'c', 'content': 'c', 'user_id': 3, 'create_date': datetime.datetime(2024, 8, 7, 11, 14, 58), 'update_date': datetime.datetime(2024, 8, 7, 11, 14, 58)}, {'id': 4, 'title': 'd', 'content': 'd', 'user_id': 4, 'create_date': datetime.datetime(2024, 8, 7, 11, 15, 7), 'update_date': datetime.datetime(2024, 8, 7, 11, 15, 7)}, {'id': 5, 'title': 'e', 'content': 'ee', 'user_id': 5, 'create_date': datetime.datetime(2024, 8, 7, 11, 15, 17), 'update_date': datetime.datetime(2024, 8, 7, 11, 15, 17)}, {'id': 6, 'title': 'f', 'content': 'ff', 'user_id': 6, 'create_date': datetime.datetime(2024, 8, 7, 11, 15, 26), 'update_date': datetime.datetime(2024, 8, 7, 11, 15, 26)}, {'id': 36, 'title': 'PY_TESTING_TITLE', 'content': 'PY_TESTING_CONTENT', 'user_id': 6, 'create_date': datetime.datetime(2024, 8, 7, 17, 23, 41), 'update_date': datetime.datetime(2024, 8, 7, 17, 23, 41)}]

In [4]:
# 유저의 식별자가 3인 데이터의 아이디, 이름, 작성한 게시판명, 내용을 출력해봅시다.
SQL3 = '''SELECT 
            USER.id,
            name,
            title,
            content
        FROM TB_BOARD board
        INNER JOIN TB_USER AS user
        ON USER.ID = board.user_id
        WHERE USER.ID = 3
'''

with db_connect() as conn:
    with conn.cursor() as cursor:
        cursor.execute(SQL3)
        results = cursor.fetchall()
        print(results)

[{'id': 3, 'name': 'bbb', 'title': 'c', 'content': 'c'}]

In [5]:
# 2번 유저로 실제로 게시판에 글을 등록해봅시다.
SQL4 = '''INSERT INTO 
            TB_BOARD(title, content, user_id)
        values
            (%s, %s, %s) 
'''

with db_connect() as conn:
    with conn.cursor() as cursor:
        BOARD = ('PY_TESTING_TITLE','PY_TESTING_CONTENT', 6)
        cursor.execute(SQL4, BOARD)
        conn.commit()

In [6]:
# 임의의 게시판 하나를 수정해봅시다.
SQL5 = '''UPDATE TB_BOARD SET
            CONTENT = 'ff',
            TITLE = 'f'
            WHERE ID = 6;
'''

with db_connect() as conn:
    with conn.cursor() as cursor:
        cursor.execute(SQL5)
        conn.commit()

In [7]:
# 임의의 게시판 하나를 삭제해봅시다.
SQL6 = '''DELETE FROM TB_BOARD
            WHERE ID = 35;
'''

with db_connect() as conn:
    with conn.cursor() as cursor:
        cursor.execute(SQL6)
        conn.commit()