In [25]:
import pandas as pd

data = {
    "Name": [
        "John Doe",
        "Jane Smith",
        "Peter Jones",
        "Linda Taylor",
        "Emily Clark",
        "David Smith",
        "Michael Brown",
        "Sarah Johnson",
    ],
    "Position": [
        "Software Engineer",
        "Data Scientist",
        "Project Manager",
        "HR Specialist",
        "Data Scientist",
        "Software Engineer",
        "HR Specialist",
        "Project Manager",
    ],
    "Office": [
        "New York",
        "San Francisco",
        "Berlin",
        "London",
        "San Francisco",
        "New York",
        "London",
        "Berlin",
    ],
    "Age": [28, 34, 45, 32, 30, 38, 41, 28],
    "Salary": [95000, 125000, 75000, 85000, 115000, 105000, 90000, 80000],
}

df = pd.DataFrame(data)
print(df)

print(df.head(3))

            Name           Position         Office  Age  Salary
0       John Doe  Software Engineer       New York   28   95000
1     Jane Smith     Data Scientist  San Francisco   34  125000
2    Peter Jones    Project Manager         Berlin   45   75000
3   Linda Taylor      HR Specialist         London   32   85000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
7  Sarah Johnson    Project Manager         Berlin   28   80000
          Name           Position         Office  Age  Salary
0     John Doe  Software Engineer       New York   28   95000
1   Jane Smith     Data Scientist  San Francisco   34  125000
2  Peter Jones    Project Manager         Berlin   45   75000

In [26]:
# head(), tail()
# head(n) : 상위 n개의 행을 확인
# tail(n) : 하위 n개의 행을 확인

# 인자를 주지 않으면 5개의 행을 확인
print(df.head())

# 상위 3개의 행을 확인
print(df.head(3))

# 하위 5개의 행을 확인하는 코드 작성
print(df.tail(5))

           Name           Position         Office  Age  Salary
0      John Doe  Software Engineer       New York   28   95000
1    Jane Smith     Data Scientist  San Francisco   34  125000
2   Peter Jones    Project Manager         Berlin   45   75000
3  Linda Taylor      HR Specialist         London   32   85000
4   Emily Clark     Data Scientist  San Francisco   30  115000
          Name           Position         Office  Age  Salary
0     John Doe  Software Engineer       New York   28   95000
1   Jane Smith     Data Scientist  San Francisco   34  125000
2  Peter Jones    Project Manager         Berlin   45   75000
            Name           Position         Office  Age  Salary
3   Linda Taylor      HR Specialist         London   32   85000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
7  Sarah Johnson    Project Manager         Berlin   28   80000

In [27]:
# 데이터프레임 shape

shape = df.shape
print(shape)

(8, 5)

In [28]:
# 각 열의 데이터 타입을 확인하는 dtypes 속성

dtypes = df.dtypes
print(dtypes)

Name        object
Position    object
Office      object
Age          int64
Salary       int64
dtype: object

In [29]:
# 전체적인 요약 정보 info()

info = df.info()

print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8 non-null      object
 1   Position  8 non-null      object
 2   Office    8 non-null      object
 3   Age       8 non-null      int64
 4   Salary    8 non-null      int64
dtypes: int64(2), object(3)
memory usage: 452.0+ bytes
None

In [30]:
# 행(index) 와 열(column) 정보 속성

index_info = df.index
print(index_info)

column_info = df.columns
print(column_info)

RangeIndex(start=0, stop=8, step=1)
Index(['Name', 'Position', 'Office', 'Age', 'Salary'], dtype='object')

In [31]:
# 열을 기준으로 정렬
# .sort_values(by = "열이름")

# 열 Salary 기준으로 정렬
print(df.sort_values(by="Salary"))

# 열 Age 기준으로 정렬해보자
print(df.sort_values(by="Age"))

            Name           Position         Office  Age  Salary
2    Peter Jones    Project Manager         Berlin   45   75000
7  Sarah Johnson    Project Manager         Berlin   28   80000
3   Linda Taylor      HR Specialist         London   32   85000
6  Michael Brown      HR Specialist         London   41   90000
0       John Doe  Software Engineer       New York   28   95000
5    David Smith  Software Engineer       New York   38  105000
4    Emily Clark     Data Scientist  San Francisco   30  115000
1     Jane Smith     Data Scientist  San Francisco   34  125000
            Name           Position         Office  Age  Salary
0       John Doe  Software Engineer       New York   28   95000
7  Sarah Johnson    Project Manager         Berlin   28   80000
4    Emily Clark     Data Scientist  San Francisco   30  115000
3   Linda Taylor      HR Specialist         London   32   85000
1     Jane Smith     Data Scientist  San Francisco   34  125000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
2    Peter Jones    Project Manager         Berlin   45   75000

In [32]:
# 열 Salary 기준으로 내림차순으로 정렬
print(df.sort_values(by="Salary", ascending=False))

            Name           Position         Office  Age  Salary
1     Jane Smith     Data Scientist  San Francisco   34  125000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
0       John Doe  Software Engineer       New York   28   95000
6  Michael Brown      HR Specialist         London   41   90000
3   Linda Taylor      HR Specialist         London   32   85000
7  Sarah Johnson    Project Manager         Berlin   28   80000
2    Peter Jones    Project Manager         Berlin   45   75000

In [34]:
# 2개 이상의 열을 기준으로 정렬
# 기준이 되는 열들을 리스트에 저장해서 인자로 전달
# 열 Age, 열 Salary 기준으로 정렬하는 코드를 작성
print(df.sort_values(by=["Age", "Salary"]))

            Name           Position         Office  Age  Salary
7  Sarah Johnson    Project Manager         Berlin   28   80000
0       John Doe  Software Engineer       New York   28   95000
4    Emily Clark     Data Scientist  San Francisco   30  115000
3   Linda Taylor      HR Specialist         London   32   85000
1     Jane Smith     Data Scientist  San Francisco   34  125000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
2    Peter Jones    Project Manager         Berlin   45   75000

In [35]:
# 인덱스(행) 기준 정렬
new_df = df.sort_values(by=["Age", "Salary"]) # 위에 코드는 인덱스가 뒤죽박죽이다.
print(new_df.sort_index()) # sort_index로 index 기준으로 정렬한다.

            Name           Position         Office  Age  Salary
0       John Doe  Software Engineer       New York   28   95000
1     Jane Smith     Data Scientist  San Francisco   34  125000
2    Peter Jones    Project Manager         Berlin   45   75000
3   Linda Taylor      HR Specialist         London   32   85000
4    Emily Clark     Data Scientist  San Francisco   30  115000
5    David Smith  Software Engineer       New York   38  105000
6  Michael Brown      HR Specialist         London   41   90000
7  Sarah Johnson    Project Manager         Berlin   28   80000