In [91]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt



df1 = pd.read_csv("data/olist_customers_dataset.csv") # 고객과 고객 위치 데이터



print(df1.isnull().sum())
print(df1.head())

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [92]:
#브라질 우편번호와 위도/경도 좌표 데이터
df2 = pd.read_csv("data/olist_geolocation_dataset.csv")


print(df2.head())

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

In [93]:
# 주문의 구매 제품 데이터
df3 = pd.read_csv("data/olist_order_items_dataset.csv")

print(df3.isnull().sum())
print(df3.head())

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

In [94]:
# 주문에 대한 결제 데이터
df4 = pd.read_csv("data/olist_order_payments_dataset.csv")

print(df4.isnull().sum())
print(df4.head())

df4['payment_type'].value_counts()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [95]:
# 고객이 제품에 대해 작성한 리뷰 데이터
df5 = pd.read_csv("data/olist_order_reviews_dataset.csv")

print(df5.isnull().sum())
print(df5.head())

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

In [96]:
# Olist에서 판매한 제품 데이터
df6 = pd.read_csv("data/olist_products_dataset.csv")

print(df6.isnull().sum())
print(df6.head())

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

In [97]:
# 주문에 대한 판매자 데이터
df7 = pd.read_csv("data/olist_sellers_dataset.csv")

print(df7.isnull().sum())
print(df7.head())

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

In [98]:
# 주문에 대한 다른 모든 정보 데이터
df8 = pd.read_csv("data/olist_orders_dataset.csv")

print(df8.isnull().sum())
print(df8.head())

print(df8.info())

print(df8['order_status'].value_counts())

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [99]:
olist_df = pd.merge(df3, df4, on = 'order_id')
olist_df = olist_df.merge(df5, on = 'order_id')
olist_df = olist_df.merge(df6, on = 'product_id')
olist_df = olist_df.merge(df8, on = 'order_id')
olist_df = olist_df.merge(df1, on = 'customer_id')
olist_df = olist_df.merge(df7, on = 'seller_id')

olist_df.duplicated(subset = 'order_id').value_counts()
olist_df = olist_df[~olist_df.duplicated(['order_id'])]


olist_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97916 entries, 0 to 117328
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       97916 non-null  object
 1   order_item_id                  97916 non-null  int64
 2   product_id                     97916 non-null  object
 3   seller_id                      97916 non-null  object
 4   shipping_limit_date            97916 non-null  object
 5   price                          97916 non-null  float64
 6   freight_value                  97916 non-null  float64
 7   payment_sequential             97916 non-null  int64
 8   payment_type                   97916 non-null  object
 9   payment_installments           97916 non-null  int64
 10  payment_value                  97916 non-null  float64
 11  review_id                      97916 non-null  object
 12  review_score                   97916 non-null  int64
 13  review_comment_title           11462 non-null  object
 14  review_comment_message         40261 non-null  object
 15  review_creation_date           97916 non-null  object
 16  review_answer_timestamp        97916 non-null  object
 17  product_category_name          96511 non-null  object
 18  product_name_lenght            96511 non-null  float64
 19  product_description_lenght     96511 non-null  float64
 20  product_photos_qty             96511 non-null  float64
 21  product_weight_g               97900 non-null  float64
 22  product_length_cm              97900 non-null  float64
 23  product_height_cm              97900 non-null  float64
 24  product_width_cm               97900 non-null  float64
 25  customer_id                    97916 non-null  object
 26  order_status                   97916 non-null  object
 27  order_purchase_timestamp       97916 non-null  object
 28  order_approved_at              97902 non-null  object
 29  order_delivered_carrier_date   96925 non-null  object
 30  order_delivered_customer_date  95829 non-null  object
 31  order_estimated_delivery_date  97916 non-null  object
 32  customer_unique_id             97916 non-null  object
 33  customer_zip_code_prefix       97916 non-null  int64
 34  customer_city                  97916 non-null  object
 35  customer_state                 97916 non-null  object
 36  seller_zip_code_prefix         97916 non-null  int64
 37  seller_city                    97916 non-null  object
 38  seller_state                   97916 non-null  object
dtypes: float64(10), int64(6), object(23)
memory usage: 29.9+ MB

In [100]:
olist_df = olist_df.reset_index()
olist_df = olist_df.drop(columns = {'index'})

olist_df.info()

olist_df.to_csv('olist_df.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97916 entries, 0 to 97915
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       97916 non-null  object
 1   order_item_id                  97916 non-null  int64
 2   product_id                     97916 non-null  object
 3   seller_id                      97916 non-null  object
 4   shipping_limit_date            97916 non-null  object
 5   price                          97916 non-null  float64
 6   freight_value                  97916 non-null  float64
 7   payment_sequential             97916 non-null  int64
 8   payment_type                   97916 non-null  object
 9   payment_installments           97916 non-null  int64
 10  payment_value                  97916 non-null  float64
 11  review_id                      97916 non-null  object
 12  review_score                   97916 non-null  int64
 13  review_comment_title           11462 non-null  object
 14  review_comment_message         40261 non-null  object
 15  review_creation_date           97916 non-null  object
 16  review_answer_timestamp        97916 non-null  object
 17  product_category_name          96511 non-null  object
 18  product_name_lenght            96511 non-null  float64
 19  product_description_lenght     96511 non-null  float64
 20  product_photos_qty             96511 non-null  float64
 21  product_weight_g               97900 non-null  float64
 22  product_length_cm              97900 non-null  float64
 23  product_height_cm              97900 non-null  float64
 24  product_width_cm               97900 non-null  float64
 25  customer_id                    97916 non-null  object
 26  order_status                   97916 non-null  object
 27  order_purchase_timestamp       97916 non-null  object
 28  order_approved_at              97902 non-null  object
 29  order_delivered_carrier_date   96925 non-null  object
 30  order_delivered_customer_date  95829 non-null  object
 31  order_estimated_delivery_date  97916 non-null  object
 32  customer_unique_id             97916 non-null  object
 33  customer_zip_code_prefix       97916 non-null  int64
 34  customer_city                  97916 non-null  object
 35  customer_state                 97916 non-null  object
 36  seller_zip_code_prefix         97916 non-null  int64
 37  seller_city                    97916 non-null  object
 38  seller_state                   97916 non-null  object
dtypes: float64(10), int64(6), object(23)
memory usage: 29.1+ MB