In [26]:
import pandas as pd

data = {
    "고객ID": ["C001", "C002", "C003", "C004", "C005"],
    "이름": [
        "  김철수  ",
        "  이영희  ",
        "  박민수  ",
        "  최지우  ",
        "  홍길동  ",
    ],
    "성별": [
        "남자",
        "여자",
        "남",
        "여",
        "남자",
    ],
    "이메일": [
        "KIMCS@EXAMPLE.COM",
        "LEEYH@EXAMPLE.NET",
        "PARKMS@SAMPLE.COM",
        "CHOIJW@SAMPLE.NET",
        "HONGGD@EXAMPLE.COM",
    ],
    "주소": [
        "서울시 강남구",
        "부산시 해운대구",
        "대구시 수성구",
        "서울시 마포구",
        "인천시 연수구",
    ],
    "전화번호": [
        "010.1234.5678",
        "010.2345.6789",
        "010.3456.7890",
        "010.4567.8901",
        "010.5678.9012",
    ],
}

df = pd.DataFrame(data)

### (2) 문자열 처리

1. 데이터프레임 출력
    - 앞 5행을 출력하세요.
    
    ```bash
       고객ID       이름  성별                 이메일        주소           전화번호
    0  C001    김철수    남자   KIMCS@EXAMPLE.COM   서울시 강남구  010.1234.5678
    1  C002    이영희    여자   LEEYH@EXAMPLE.NET  부산시 해운대구  010.2345.6789
    2  C003    박민수     남   PARKMS@SAMPLE.COM   대구시 수성구  010.3456.7890
    3  C004    최지우     여   CHOIJW@SAMPLE.NET   서울시 마포구  010.4567.8901
    4  C005    홍길동    남자  HONGGD@EXAMPLE.COM   인천시 연수구  010.5678.9012
    ```

In [27]:
print(df.head())

   고객ID       이름  성별                 이메일        주소           전화번호
0  C001    김철수    남자   KIMCS@EXAMPLE.COM   서울시 강남구  010.1234.5678
1  C002    이영희    여자   LEEYH@EXAMPLE.NET  부산시 해운대구  010.2345.6789
2  C003    박민수     남   PARKMS@SAMPLE.COM   대구시 수성구  010.3456.7890
3  C004    최지우     여   CHOIJW@SAMPLE.NET   서울시 마포구  010.4567.8901
4  C005    홍길동    남자  HONGGD@EXAMPLE.COM   인천시 연수구  010.5678.9012

2. 성별  통일
    - `성별` 데이터에서 남자는 `남` 으로 여자는 `여` 로 수정하고, 출력하세요.
    
    ```bash
    0    남
    1    여
    2    남
    3    여
    4    남
    Name: 성별, dtype: object
    ```

In [28]:
# df.replace({"남자": "남", "여자": "여"}, inplace=True)

df['성별'] = df['성별'].str.replace("남자", "남")
df['성별'] = df['성별'].str.replace('여자', '여')
print(df)

   고객ID       이름 성별                 이메일        주소           전화번호
0  C001    김철수    남   KIMCS@EXAMPLE.COM   서울시 강남구  010.1234.5678
1  C002    이영희    여   LEEYH@EXAMPLE.NET  부산시 해운대구  010.2345.6789
2  C003    박민수    남   PARKMS@SAMPLE.COM   대구시 수성구  010.3456.7890
3  C004    최지우    여   CHOIJW@SAMPLE.NET   서울시 마포구  010.4567.8901
4  C005    홍길동    남  HONGGD@EXAMPLE.COM   인천시 연수구  010.5678.9012

1. 소문자 변환
    - 이메일을 소문자로 변환하고, 출력하세요.
    
    ```bash
    0     kimcs@example.com
    1     leeyh@example.net
    2     parkms@sample.com
    3     choijw@sample.net
    4    honggd@example.com
    Name: 이메일, dtype: object
    ```

In [29]:
df["이메일"] = df["이메일"].str.lower()

print(df)

   고객ID       이름 성별                 이메일        주소           전화번호
0  C001    김철수    남   kimcs@example.com   서울시 강남구  010.1234.5678
1  C002    이영희    여   leeyh@example.net  부산시 해운대구  010.2345.6789
2  C003    박민수    남   parkms@sample.com   대구시 수성구  010.3456.7890
3  C004    최지우    여   choijw@sample.net   서울시 마포구  010.4567.8901
4  C005    홍길동    남  honggd@example.com   인천시 연수구  010.5678.9012

1. 도메인 변경
    - `이메일` 데이터에서 `example.net` 을 `naver.com` 으로 수정하고, 출력하세요.
    
    ```bash
    0     kimcs@example.com
    1       leeyh@naver.com
    2     parkms@sample.com
    3     choijw@sample.net
    4    honggd@example.com
    Name: 이메일, dtype: object
    ```

In [30]:
df["이메일"] = df["이메일"].str.replace("example.net", "naver.com")

print(df)

   고객ID       이름 성별                 이메일        주소           전화번호
0  C001    김철수    남   kimcs@example.com   서울시 강남구  010.1234.5678
1  C002    이영희    여     leeyh@naver.com  부산시 해운대구  010.2345.6789
2  C003    박민수    남   parkms@sample.com   대구시 수성구  010.3456.7890
3  C004    최지우    여   choijw@sample.net   서울시 마포구  010.4567.8901
4  C005    홍길동    남  honggd@example.com   인천시 연수구  010.5678.9012

1. 이메일 나누기
    - `이메일` 을 `@` 기준으로 나누고, 출력하세요.
    
    ```bash
    0     [kimcs, example.com]
    1       [leeyh, naver.com]
    2     [parkms, sample.com]
    3     [choijw, sample.net]
    4    [honggd, example.com]
    Name: 이메일, dtype: object
    ```

In [31]:
df["이메일"] = df["이메일"].str.split("@")

print(df)

   고객ID       이름 성별                    이메일        주소           전화번호
0  C001    김철수    남   [kimcs, example.com]   서울시 강남구  010.1234.5678
1  C002    이영희    여     [leeyh, naver.com]  부산시 해운대구  010.2345.6789
2  C003    박민수    남   [parkms, sample.com]   대구시 수성구  010.3456.7890
3  C004    최지우    여   [choijw, sample.net]   서울시 마포구  010.4567.8901
4  C005    홍길동    남  [honggd, example.com]   인천시 연수구  010.5678.9012

1. 시 이름 추출
    1. 주소에서 시 이름과 구 이름을 공백을 기준으로 나누세요.
    2. 시이름만 추출해서 새로운 열 `시이름` 을 만들고 해당 데이터를 저장하고 출력하세요,
    
    ```bash
    0    서울시
    1    부산시
    2    대구시
    3    서울시
    4    인천시
    Name: 시이름, dtype: object
    ```

In [32]:
df["시이름"] = df["주소"].str.split(" ", expand=True)[0]

print(df)

   고객ID       이름 성별                    이메일        주소           전화번호  시이름
0  C001    김철수    남   [kimcs, example.com]   서울시 강남구  010.1234.5678  서울시
1  C002    이영희    여     [leeyh, naver.com]  부산시 해운대구  010.2345.6789  부산시
2  C003    박민수    남   [parkms, sample.com]   대구시 수성구  010.3456.7890  대구시
3  C004    최지우    여   [choijw, sample.net]   서울시 마포구  010.4567.8901  서울시
4  C005    홍길동    남  [honggd, example.com]   인천시 연수구  010.5678.9012  인천시

1.  공백 제거
    - `이름`  데이터의 앞뒤 공백을 제거하고, 출력하세요.
    
    ```bash
    0    김철수
    1    이영희
    2    박민수
    3    최지우
    4    홍길동
    Name: 이름, dtype: object
    ```

In [33]:
df['이름'] = df['이름'].str.strip()

print(df)

   고객ID   이름 성별                    이메일        주소           전화번호  시이름
0  C001  김철수  남   [kimcs, example.com]   서울시 강남구  010.1234.5678  서울시
1  C002  이영희  여     [leeyh, naver.com]  부산시 해운대구  010.2345.6789  부산시
2  C003  박민수  남   [parkms, sample.com]   대구시 수성구  010.3456.7890  대구시
3  C004  최지우  여   [choijw, sample.net]   서울시 마포구  010.4567.8901  서울시
4  C005  홍길동  남  [honggd, example.com]   인천시 연수구  010.5678.9012  인천시

1. 전화번호 형식 변경
    - `전화번호` 데이터에서 `.` 을 `-` 로 바꾸고, 출력하세요.
    
    ```bash
    0    010-1234-5678
    1    010-2345-6789
    2    010-3456-7890
    3    010-4567-8901
    4    010-5678-9012
    Name: 전화번호, dtype: object
    ```

In [34]:
df['전화번호'] = df['전화번호'].str.replace(".","-")

print(df)

   고객ID   이름 성별                    이메일        주소           전화번호  시이름
0  C001  김철수  남   [kimcs, example.com]   서울시 강남구  010-1234-5678  서울시
1  C002  이영희  여     [leeyh, naver.com]  부산시 해운대구  010-2345-6789  부산시
2  C003  박민수  남   [parkms, sample.com]   대구시 수성구  010-3456-7890  대구시
3  C004  최지우  여   [choijw, sample.net]   서울시 마포구  010-4567-8901  서울시
4  C005  홍길동  남  [honggd, example.com]   인천시 연수구  010-5678-9012  인천시

8. 김이 들어간 이름 찾기

- 이름에 `김` 이 들어간 데이터만 출력하세요.

```bash
   고객ID   이름 성별                   이메일       주소           전화번호  시이름
0  C001  김철수  남  [kimcs, example.com]  서울시 강남구  010-1234-5678  서울시
```

In [35]:
print(df.loc[df['이름'].str.contains("김")])

# contains()은 불린값을 반환하므로 데이터 필터링에 사용할 수 있다.

   고객ID   이름 성별                   이메일       주소           전화번호  시이름
0  C001  김철수  남  [kimcs, example.com]  서울시 강남구  010-1234-5678  서울시

1. 데이터프레임 출력
    - 모든 데이터를 출력하세요.
    
    ```bash
       고객ID   이름 성별                    이메일        주소           전화번호  시이름
    0  C001  김철수  남   [kimcs, example.com]   서울시 강남구  010-1234-5678  서울시
    1  C002  이영희  여     [leeyh, naver.com]  부산시 해운대구  010-2345-6789  부산시
    2  C003  박민수  남   [parkms, sample.com]   대구시 수성구  010-3456-7890  대구시
    3  C004  최지우  여   [choijw, sample.net]   서울시 마포구  010-4567-8901  서울시
    4  C005  홍길동  남  [honggd, example.com]   인천시 연수구  010-5678-9012  인천시
    ```

In [36]:
print(df)

   고객ID   이름 성별                    이메일        주소           전화번호  시이름
0  C001  김철수  남   [kimcs, example.com]   서울시 강남구  010-1234-5678  서울시
1  C002  이영희  여     [leeyh, naver.com]  부산시 해운대구  010-2345-6789  부산시
2  C003  박민수  남   [parkms, sample.com]   대구시 수성구  010-3456-7890  대구시
3  C004  최지우  여   [choijw, sample.net]   서울시 마포구  010-4567-8901  서울시
4  C005  홍길동  남  [honggd, example.com]   인천시 연수구  010-5678-9012  인천시