In [34]:
import pandas as pd
import numpy as np

np.random.seed(0)

# 학생 수
num_students = 1000

# 데이터프레임 생성
df = pd.DataFrame(
    {
        "학생ID": np.arange(1, num_students + 1),
        "이름": [f"학생{i}" for i in range(1, num_students + 1)],
        "나이": np.random.randint(20, 30, size=num_students),
        "전공": np.random.choice(
            ["컴퓨터공학", "물리학", "전자공학", "수학", "화학", "생물학"],
            size=num_students,
        ),
        "학년": np.random.randint(1, 5, size=num_students),
        "학점": np.round(np.random.uniform(1.0, 4.5, size=num_students), 2),
    }
)
print(df)

     학생ID      이름  나이     전공  학년    학점
0       1     학생1  25    물리학   2  3.44
1       2     학생2  20  컴퓨터공학   1  3.22
2       3     학생3  23    물리학   2  3.38
3       4     학생4  23   전자공학   3  1.36
4       5     학생5  27  컴퓨터공학   2  3.65
..    ...     ...  ..    ...  ..   ...
995   996   학생996  24    생물학   2  2.28
996   997   학생997  21    물리학   1  1.89
997   998   학생998  21    물리학   3  3.58
998   999   학생999  21    물리학   4  1.79
999  1000  학생1000  27    생물학   2  3.96

[1000 rows x 6 columns]

### (2) 데이터 요약

1. 전공별 평균 학점을 출력하세요.
    
    ```bash
    전공
    물리학      2.816265
    생물학      2.787976
    수학       2.721966
    전자공학     2.897711
    컴퓨터공학    2.835890
    화학       2.621887
    Name: 학점, dtype: float64
    ```
    
2. 학년별 평균 학점을 출력하세요.
    
    ```bash
    학년
    1    2.803766
    2    2.864941
    3    2.762008
    4    2.695253
    Name: 학점, dtype: float64
    ```
    
3. 전공 및 학년별 평균 학점을 출력하세요.
    
    ```bash
    전공     학년
    물리학    1     2.897407
           2     2.855581
           3     2.890612
           4     2.656170
    생물학    1     2.670513
           2     2.866863
           3     2.804857
           4     2.787209
    수학     1     2.646078
           2     2.822353
           3     2.695106
           4     2.759348
    전자공학   1     3.326857
           2     2.913043
           3     2.758571
           4     2.650278
    컴퓨터공학  1     3.004750
           2     2.816944
           3     2.870732
           4     2.672826
    화학     1     2.402821
           2     2.894419
           3     2.526579
           4     2.633333
    Name: 학점, dtype: float64
    ```
    
4. 각 전공별 최고 학점을 출력하세요.
    
    ```bash
    전공
    물리학      4.49
    생물학      4.49
    수학       4.46
    전자공학     4.44
    컴퓨터공학    4.50
    화학       4.43
    Name: 학점, dtype: float64
    ```
    
5. 전공별 학생ID의 수, 나이의 평균, 학점의 평균을 출력하세요.
    
    ```bash
           학생ID         나이        학점
    전공                              
    물리학     166  24.391566  2.816265
    생물학     168  24.666667  2.787976
    수학      178  24.483146  2.721966
    전자공학    166  24.343373  2.897711
    컴퓨터공학   163  24.294479  2.835890
    화학      159  24.477987  2.621887
    ```
    
6. 학년별 학생ID의 수, 학점의 최댓값, 학점의 최소값을 출력하세요.
    
    ```bash
        학생ID    학점      
       count   max   min
    학년                  
    1    231  4.46  1.05
    2    253  4.49  1.00
    3    259  4.49  1.02
    4    257  4.50  1.01
    ```

In [35]:
group = df.groupby("전공")

print(group["학점"].mean())

전공
물리학      2.816265
생물학      2.787976
수학       2.721966
전자공학     2.897711
컴퓨터공학    2.835890
화학       2.621887
Name: 학점, dtype: float64

In [36]:
group = df.groupby("학년")

print(group["학점"].mean())

학년
1    2.803766
2    2.864941
3    2.762008
4    2.695253
Name: 학점, dtype: float64

In [37]:
group = df.groupby(["전공", "학년"])

print(group["학점"].mean())

전공     학년
물리학    1     2.897407
       2     2.855581
       3     2.890612
       4     2.656170
생물학    1     2.670513
       2     2.866863
       3     2.804857
       4     2.787209
수학     1     2.646078
       2     2.822353
       3     2.695106
       4     2.759348
전자공학   1     3.326857
       2     2.913043
       3     2.758571
       4     2.650278
컴퓨터공학  1     3.004750
       2     2.816944
       3     2.870732
       4     2.672826
화학     1     2.402821
       2     2.894419
       3     2.526579
       4     2.633333
Name: 학점, dtype: float64

In [38]:
group = df.groupby("전공")

print(group["학점"].max())

전공
물리학      4.49
생물학      4.49
수학       4.46
전자공학     4.44
컴퓨터공학    4.50
화학       4.43
Name: 학점, dtype: float64

In [39]:
group.agg({"학생ID": "count", "나이": "mean", "학점": "mean"})

print(group.agg({"학생ID": "count", "나이": "mean", "학점": "mean"}))

       학생ID         나이        학점
전공
물리학     166  24.391566  2.816265
생물학     168  24.666667  2.787976
수학      178  24.483146  2.721966
전자공학    166  24.343373  2.897711
컴퓨터공학   163  24.294479  2.835890
화학      159  24.477987  2.621887

In [40]:
group = df.groupby("학년")

print(group.agg({"학생ID": "count", "학점": ["max", "min"]}))

    학생ID    학점
   count   max   min
학년
1    231  4.46  1.05
2    253  4.49  1.00
3    259  4.49  1.02
4    257  4.50  1.01