### 유용한 vscode 단축키

- ctrl + D : 같은 단어 연속 선택
- 컨트ㄹ롤 + f : 현재 파일에서 단어 검색
- 컨트롤 쉬프트 f : 현재 디렉토리으 ㅣ모든 파일에 대해 단어 검색
- 컨트롤 b : explorer 창 온오프
- alt 방향키위아래 : 선택한 코드블럭 위아래로 이동
- shift alt 방향키위아래 : 선택한 코드 블럭 위아래로 복사
- 컨트롤 ~ : 터미널 창 온오프
- 컨트롤 쉬프트 5 : 터미널 창 split
- 컨트롤 2 : 작업창 split
- f1 : show command palette

### 1. DBconnector.py & settings.py

- DB connector 모듈 및 공통 정보들을 각각의 파일형태로 나누어 관리

In [1]:
from db.connector  import DBConnector
from settings import DB_SETTINGS

In [ ]:
DB_SETTINGS['POSTGRES']

In [3]:
from db.connector import DBConnector
from settings import DB_SETTINGS

db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])

with db_connector as connected:
    conn = connected.conn
    cursor = conn.cursor()

    cursor.execute('select * from lecture limit 5')

    print(cursor.fetchall())

enter
[(0, 1, 'Mary', 1880, 'F', 7065), (1, 2, 'Anna', 1880, 'F', 2604), (2, 3, 'Emma', 1880, 'F', 2003), (3, 4, 'Elizabeth', 1880, 'F', 1939), (4, 5, 'Minnie', 1880, 'F', 1746)]
exit

In [4]:
import os

os.getcwd()

'd:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2'

In [5]:
import sys

sys.path.append(r"d:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2")

### 2. query.py

    - 쿼리들은 파일로 관리하여 쉽게 호출할 수 있도록 작성

    - 쿼리 내용 조회하는 부분을 class 내에 통합

In [6]:
import psycopg2
import db.pgsql_query as postgresql_query
from settings import DB_SETTINGS


class DBConnector:
    def __init__(self, host, database, user, password, port):
        self.conn_params = dict(
            host = host,
            dbname = database,
            user = user,
            password = password,
            port = port
        )
        self.connect = self.postgres_connect()
        self.queries = postgresql_query.queries

    def __enter__(self):
        print("enter")
        return self
    
    def __exit__(self, exc_type, exc_value, traceback):
        self.conn.close()
        print('exit')

    def postgres_connect(self):
        self.conn = psycopg2.connect(**self.conn_params)
        return self
    
    def get_query(self, table_name):
        try:
            _query = self.queries[table_name]
            return _query
        except KeyError:
            raise KeyError(f'{table_name} 키가 query에 존재하지 않습니다. 현재 있는 키 리스트 : {list(self.queries.keys())}')

In [7]:
db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])

db_connector.get_query('lecture')

'select * from lecture limit 5'

In [8]:
from db.pgsql_query import queries

for tbl in queries.keys():
    db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])
    _query = db_connector.get_query(tbl)
    print(_query)

select * from lecture limit 5
select * from tbl limit 5

### 3. extract.py

- 쿼리를 받아 DB에 조회하여 결과를 pandas dataframe으로 변환

In [9]:
from db.connector import DBConnector
from settings import DB_SETTINGS
import pandas as pd

In [10]:
db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])

with db_connector as connected:
    _query = connected.get_query('lecture')
    conn = connected.conn
    df = pd.read_sql(_query, conn)

print(df)

enter
exit
   index  id       name  year gender  count
0      0   1       Mary  1880      F   7065
1      1   2       Anna  1880      F   2604
2      2   3       Emma  1880      F   2003
3      3   4  Elizabeth  1880      F   1939
4      4   5     Minnie  1880      F   1746

C:\Users\user\AppData\Local\Temp\ipykernel_10736\2502543534.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, conn)

In [11]:
# extract

def extractor(db_connector, table_name):

    with db_connector as connected:
        try:
            _query = connected.get_query(table_name)
            conn = connected.conn
            df = pd.read_sql(_query, conn)
            return df
        except Exception as e:
            print(f'Extract MSG : {e}')
            return False

In [12]:
db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])

return_extractor = extractor(db_connector, 'lecture')
return_extractor.head(10)

enter
exit

C:\Users\user\AppData\Local\Temp\ipykernel_10736\528373740.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, conn)

   index  id       name  year gender  count
0      0   1       Mary  1880      F   7065
1      1   2       Anna  1880      F   2604
2      2   3       Emma  1880      F   2003
3      3   4  Elizabeth  1880      F   1939
4      4   5     Minnie  1880      F   1746

### 4. transform.py

- Batch 날짜(년/월/일)별 저장 경로 생성 및 해당 경로 이하에 dataframe 저장
- 이행 환경에 따라 다르게 구성될 수 있음
    - Database -> Stagins Server -> Cloud / Database
    - Database -- Directory Connection -> Cloud / Database

- 목적지 Database의 성격에 따라 추가적인 처리 함수가 포함될 수 있음
    - Data Lake -> 거의 가공 없이 이행
    - Data Warehouse -> 결측치/공백 등 간단한 전처리를 거쳐 이행
    - Data Mart -> Group by/filter 등 성격에 맞는 데이터 처리를 거쳐 이행

### 1) 저장 경로 생성
- Database 이름 / Table 이름 / yyyy={} / mm{} / dd={} / {table_name}.csv

In [13]:
import pandas as pd

from db.connector import DBConnector
from settings import DB_SETTINGS
from pipeline.extract import extractor

db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])
table_name = 'lecture'

return_extractor = extractor(db_connector, table_name)

# return_extractor.head()

if isinstance(return_extractor, pd.DataFrame):
    print(return_extractor.head())
else:
    print('데이터를 가져오지 못함')

enter
exit
   index  id       name  year gender  count
0      0   1       Mary  1880      F   7065
1      1   2       Anna  1880      F   2604
2      2   3       Emma  1880      F   2003
3      3   4  Elizabeth  1880      F   1939
4      4   5     Minnie  1880      F   1746

d:\workspace\Chunjae_Bigdata_9th\10.25~10.31\day2\pipeline\extract.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, conn)

In [14]:
# Batch 날짜 설정

from datetime import datetime

batch_date = datetime.now()
format_date = batch_date.strftime(r'%Y%m%d')

_y = format_date[:4]
_m = format_date[4:6]
_d = format_date[6:]

_y, _m, _d

('2024', '10', '28')

In [15]:
f'{batch_date: %Y}', f'{batch_date: %m}', f'{batch_date: %d}'

(' 2024', ' 10', ' 28')

In [16]:
import os

os.getcwd()

'd:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2'

In [17]:
import os

temp_path = 'd:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2\\temp_storage'

_path = os.path.join(temp_path, 'postgres', 'lecture')
_path

'd:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2\\temp_storage\\postgres\\lecture'

In [18]:
from datetime import datetime
batch_date = datetime.now().strftime(r"%Y%m%d")
temp_path = 'd:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2\\temp_storage'

def create_path(temp_path, batch_date):

    _y = batch_date[:4]
    _m = batch_date[4:6]
    _d = batch_date[6:]

    return _path

### 2) pandas dataframe을 csv, parquet 형태로 저장

In [19]:
# 저장 폴더 생성

path = create_path(temp_path, batch_date)

os.makedirs(path, mode=777, exist_ok=True)

In [20]:
# csv format
save_path = os.path.join(path, 'lecture.csv')
save_path

df.to_csv(save_path)

In [21]:
# json format

save_path = os.path.join(path, 'lecture.json')

df.to_json(save_path, orient='records', indent=4, force_ascii=False)

In [22]:
# parquet format

save_path = os.path.join(path, 'lecture.parquet')

df.to_parquet(save_path, engine = 'pyarrow', compression = 'gzip', index = False)

In [25]:
def save_to_file(df, path, table_name):
    if len(df) > 0:
        os.makedirs(path, mode=777)
        save_path = os.path.join(path, f'{table_name}.csv')

        df.to_csv(save_path)
        return True
    
    else:
        print('empty file')
        return False

In [26]:
save_to_file(df, path, table_name)

True

### 저장 경로 생성 + DataFrame 저장 함수 통합

In [27]:
# transformer(create_path + save_to_file) 함수

def transformer(temp_path, batch_date, df, table_name):
    path = create_path(temp_path, batch_date)
    res = save_to_file(df, path, table_name)

    return res

In [32]:
transformer(temp_path, batch_date, df, table_name)

True

In [30]:
from db.connector import DBConnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from datetime import datetime

In [34]:
db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])
table_name = 'lecture'
batch_date = datetime.now().strftime(r'%Y%m%d')
# print(batch_date)

return_extractor = extractor(db_connector, table_name)
return_extractor

if return_extractor is not None and not return_extractor.empty:
    return_transformer = transformer(TEMP_PATH, batch_date, return_extractor, table_name)
else:
    print('dataframe이 비었거나 데이터 추출에 실패했습니다.')

enter
exit

### 5. load.py

- 저장된 파일을 특정한 저장소에 적재

### 1) pandas to_sql() 메서드를 활용한 테이블 적재(local file -> database)

- PANDAS > to_sql
    - [dataframe].to_sql(name = '테이블 이름', con = 'sqlalchemy connection', if_exists='replace')

In [27]:
from sqlalchemy import create_engine

engine = 'postgresql'
user = 'postgres'
password = 'Tkkwak0419?!'
host = '127.0.0.1'
port = '5432'
database = 'postgres'

In [28]:
db = create_engine(f'{engine}://{user}:{password}@{host}:{port}/{database}')
db

Engine(postgresql://postgres:***@127.0.0.1:5432/postgres)

In [29]:
import pandas as pd

df = pd.read_csv('./dataset/data-01/names.csv')
df.head()

   id       name  year gender  count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2000 non-null   int64
 1   name    2000 non-null   object
 2   year    2000 non-null   int64
 3   gender  2000 non-null   object
 4   count   2000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 78.3+ KB

In [31]:
df.to_sql(name='point', con=db, if_exists='replace')
                                        # 'fail' : 테이블이 존재하면 실패
                                        # 'append' : 테이블이 존재하면 아래 row에 추가
                                        # 'replace' : 테이블이 존재하면 명령 내링 테이블로 데이터 교체

1000

In [32]:
def loader(db_connector, df, table_name):
    with db_connector as connected:
        try:
            orm_conn = connected.orm_conn
            df.to_sql(name=table_name, con=orm_conn, if_exists='replace')
            return True
        except Exception as e:
            print(f'loader Error MSG: {e}')
            return False

In [45]:
import pandas as pd

from db.connector import DBConnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.load import loader
from pipeline.transform import transformer
from datetime import datetime

db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])
table_name = 'lecture'
batch_date = datetime.now().strftime(r'%Y%m%d')

return_extractor = extractor(db_connector, table_name)
# return_extractor

if return_extractor is not None and not return_extractor.empty:
    return_transformer = transformer(TEMP_PATH, batch_date, return_extractor, table_name)



if return_transformer:
    return_loader = loader(db_connector, return_transformer, table_name)

return_loader

enter
exit

d:\workspace\Chunjae_Bigdata_9th\10.25~10.31\day2\pipeline\extract.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(_query, conn)

FileExistsError: [WinError 183] 파일이 이미 있으므로 만들 수 없습니다: 'd:\\workspace\\Chunjae_Bigdata_9th\\10.25~10.31\\day2\\temp_storage\\lecture\\yyyy=2024\\mm = 10\\dd=28'

### 6. remove.py


- 임시 저장된 파일을 삭제

In [18]:
import shutil, os
from settings import TEMP_PATH

shutil.rmtree(TEMP_PATH)

os.makedirs(TEMP_PATH)

In [ ]:
# remover

def remover(path):
    try:
        shutil.rmtree(path)
        os.makedirs(path)
        return True
    except Exception as e:
        print(f'Remover Error MSG : {e}')
        return False

In [86]:
from db.connector import DBConnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from pipeline.load import loader
from pipeline.remove import remover
from datetime import datetime


db_connector = DBConnector(**DB_SETTINGS['POSTGRES'])
table_name = 'lecture'
batch_date = datetime.now().strftime(r'%Y%m%d')

return_extractor = extractor(db_connector, table_name)
# return_extractor

if return_extractor is not None and not return_extractor.empty:
    return_transformer = transformer(TEMP_PATH, batch_date, return_extractor, table_name)

if return_transformer:
    return_loader = loader(db_connector, return_extractor, table_name)

enter
exit
enter
loader Error MSG: A column with name 'level_0' is already present in table 'lecture'.
exit

In [19]:
remover(TEMP_PATH)

True

In [38]:
aa = {'aa' : 1, 'bb' : 2}
list (aa)

['aa', 'bb']

In [41]:
queries = __import__("db.pgsql_query", fromlist=[""])
queries.queries

{'lecture': 'select * from lecture limit 5',
 'tbl': 'select * from tbl limit 5'}

In [46]:
class CargoShip:
    def __init__(self, capacity):
        self.cargo = []
        self.capacity = capacity

    def unload(self, port):
        port_list = [p[0] for p in self.cargo]
        if port in port_list:
            unloaded = [i for i in self.cargo if i[0] == port]
            return unloaded
        else:
            return
        
    def can_depart(self):
        _depart = True if sum([i[1] for i in self.cargo]) <- self.capacity else False
        return _depart
    
    def load(self, new_cargo):
        self.cargo: list = new_cargo
        pass

if __name__ == '__main__':
    ship = CargoShip(20)
    ship.load([('NewYork', 1), ('London', 20)])
    print(ship.unload('NewYork'))
    print(ship.cargo)
    print(ship.can_depart())

[('NewYork', 1)]
[('NewYork', 1), ('London', 20)]
False

In [51]:
import json


aa = [{'name' : 'eggs', 'price' : 1}, {'name' : 'coffee', 'price' : 9.99}, {'name' : 'rice', 'price' : 4.04}]

sorted_items = sorted(aa, key = lambda x: (x['price'], x['name']))

joined_json = ','.join([json.dumps(i) for i in sorted_items])

ret = ','.join([json.dumps(i) for i in sorted_items])
ret

['{"name": "eggs", "price": 1},{"name": "rice", "price": 4.04},{"name": "coffee", "price": 9.99}']

In [64]:
import json


def sort_by_price_ascending(json_string):
    json_string = eval(json_string)

    sorted_json = sorted(json_string, key=lambda x: (x['price'], x['name']))

    joined_json = ','.join([json.dumps(i) for i in sorted_json])
    print(str(joined_json))
    final = '[' + joined_json + ']'

    return final.replace(' ', '')

In [65]:
pp = sort_by_price_ascending('{"name": "eggs", "price": 1},{"name": "rice", "price": 4.04},{"name": "coffee", "price": 9.99}')
pp

{"name": "eggs", "price": 1},{"name": "rice", "price": 4.04},{"name": "coffee", "price": 9.99}

'[{"name":"eggs","price":1},{"name":"rice","price":4.04},{"name":"coffee","price":9.99}]'

In [70]:
# 날짜 바꾸기
import re

from datetime import datetime

def transform_date_format(dates):
    date = [d for d in dates if '/' in d or '-' in d]
    date_list = []

    for date_str in dates:
        if re.match(r'\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])', date_str):
            print(date_str)
            transformed_date = datetime.strptime(date_str, '%Y/%m/%d').strftime('%Y%m%d')
            date_list.append(transformed_date)
        elif re.match(r'(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}', date_str):
            print(date_str)
            transformed_date = datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y%m%d')
            date_list.append(transformed_date)
        elif re.match(r'(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}', date_str):
            print(date_str)
            transformed_date = datetime.strptime(date_str, '%m-%d-%Y').strftime("%Y%m%d")
            date_list.append(transformed_date)

    return date_list


dates = ['2010/02/20', '09/01/1994', '10-09-1996', '20210221']
sformed_dates = transform_date_format(dates)
print(sformed_dates)

2010/02/20
09/01/1994
10-09-1996
['20100220', '19940109', '19961009']

In [71]:
import re

def match_pattern(date_str):

    pattern_list = [
        r'\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])',
        r'(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}',
        r'(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}'
    ]
    idx = [bool(re.search(ptn, date_str)) for ptn in pattern_list].index(True)

    return idx

def transform_date_format(dates):
    
    dates = [d for d in dates if '/' in d or '-' in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []

    for date_str in dates:
        pattern_idx = match_pattern(date_str)

        if pattern_idx == 0:
            date_list.append(datetime.strptime(date_str, '%Y/%m/%d').strftime('%Y%m%d'))
        elif pattern_idx == 1:
            date_list.append(datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y%m%d'))
        elif pattern_idx == 2:
            date_list.append(datetime.strptime(date_str, '%d-%m-%Y').strftime('%Y%m%d'))

    return date_list

if __name__ == '__main__':
    dates = transform_date_format(['2020/02/20', '09/01/1994', '10-09-1996', '20210221'])
    print(*dates, sep='\n')

20200220
19940109
19960910

In [72]:
import re
from datetime import datetime


def transform_date_format(dates):

    dates = [d for d in dates if '/' in d or '-' in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []

    for date_str in dates:
        if re.match(r'\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])', date_str):
            date_list.append(datetime.strptime(date_str, '%Y/%m/%d').strftime('%Y%m%d'))
        if re.match(r'(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}', date_str):
            date_list.append(datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y%m%d'))
        if re.match(r'(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}', date_str):
            date_list.append(datetime.strptime(date_str, '%d-%m-%Y').strftime('%Y%m%d'))
        else:
            pass

    return date_list


if __name__ == '__main__':
    dates = transform_date_format(['2020/02/20', '09/01/1994', '10-09-1996', '20210221'])
    print(*dates, sep='\n')

20200220
19940109
19960910

In [76]:
import re
from datetime import datetime


def transform_date_format(dates):

    dates = [d for d in dates if '/' in d or '-' in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []

    for date_str in dates:
        if re.match(r'\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])', date_str):
            transformed_date = datetime.strptime(date_str, '%Y/%m/%d').strftime('%Y%m%d')
        if re.match(r'(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}', date_str):
            transformed_date = datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y%m%d')
        if re.match(r'(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}', date_str):
            transformed_date = datetime.strptime(date_str, '%d-%m-%Y').strftime('%Y%m%d')
        
        date_list.append(transformed_date)

    return date_list

if __name__ == '__main__':
    dates = transform_date_format(['2020/02/20', '09/01/1994', '10-09-1996', '20210221'])
    print(*dates, sep='\n')

20200220
19940109
19960910

In [ ]:
import re
from datetime import datetime


def transform_date_format(dates):

    dates = [d for d in dates if '/' in d or '-' in d]
    dates = [d for d in dates if len(d) == 10]
    date_list = []

    for date_str in dates:
        if re.match(r'\d{4}/(0[1-9]|1[0-2])/(0[1-9]|1[0-9]|2[0-9]|3[0-1])', date_str):
            transformed_date = datetime.strptime(date_str, '%Y/%m/%d').strftime('%Y%m%d')
            date_list.append(transformed_date)
        elif re.match(r'(0[1-9]|1[0-9]|2[0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}', date_str):
            transformed_date = datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y%m%d')
            date_list.append(transformed_date)
        elif re.match(r'(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])-\d{4}', date_str):
            transformed_date = datetime.strptime(date_str, '%d-%m-%Y').strftime('%Y%m%d')
            date_list.append(transformed_date)
        else:
            pass

    return date_list

### Controller.py
    - extractor, transformer 등 개별 모듈들에 대하여 순서대로 명령을 내려주는 파일

In [78]:
def controller(): 
    """
    
    1. DBConnector >> DB Connector 생성
    2. postgresql_query >> queries 에서 테이블 이름 목록(table_list) 받아오기
        ex) 
            for tbl in table_list:
    3. extract >> DB 조회 후 DataFrame 형태로 변환
    4. transform >> 저장 경로 생성 후 임시 저장 디렉토리 아래에 dataframe 저장
    5. load >> 저장소에 dataframe 파일 저장
    6. remove >> 저장이 끝난 후 임시 저장 디렉토리 삭제
    """

In [79]:
from db.connector import DBConnector
from settings import DB_SETTINGS, TEMP_PATH
from pipeline.extract import extractor
from pipeline.transform import transformer
from pipeline.load import loader
from pipeline.remove import remover
from datetime import datetime